@use 'base/mixins' as m;
@use 'base/variables' as v;

.dark-mode {
    background-color: darken(v.$grisOscuro, 10);

    p {
        color: v.$blanco;
    }

    a, h1, h2, h3, h4 {
        color: v.$gris;
    }

    .anuncio {
        background-color: v.$grisOscuro;
        border: 1px solid v.$grisOscuro;
    }

    .iconos {
        filter: invert(100%);
    }
}

.iconos {
    height: 2.5rem;
}
