.alerta {
    padding: .5rem;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        background-color: rgb(128, 5, 5);
    }

    &.exito {
        background-color: #71B100;
    }
}